<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const currentDate = new Date();
        const options = {
          year: "numeric",
          month: "long",
          day: "numeric",
        };
        document.getElementById("current-date").textContent =
          currentDate.toLocaleDateString("en-US", options);
      });
    </script>

    <link href="/output.css" rel="stylesheet" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>Library Management System</title>
  </head>

  <body class="font-sans bg-gray-200">
    <div class="container px-4 mx-auto">
      <header class="py-6 bg-[#1e3039] shadow-lg rounded-lg text-white mb-2">
        <h1 class="mb-2 text-5xl font-bold text-center">
          Library Management System
        </h1>
        <p class="text-lg italic text-center">
          Your gateway to knowledge and resources
        </p>
      </header>
      <div class="flex flex-col gap-8 md:flex-row">
        <nav class="md:w-1/4">
          <div
            class="p-6 transition-transform duration-300 ease-in-out transform bg-white rounded-lg shadow-lg hover:scale-110"
          >
            <h2
              class="text-2xl font-bold text-[#1e3039] mb-4 border-b-2 border-[#1e3039] pb-2"
            >
              Navigation
            </h2>
            <ul class="space-y-2">
              <li>
                <a
                  href="/"
                  class="block py-3 px-4 rounded-lg text-[#1e3039] hover:bg-[#1e3039] hover:text-white transition duration-200 ease-in-out"
                  >Home</a
                >
              </li>
              <li>
                <a
                  href="/catalog/books"
                  class="block py-3 px-4 rounded-lg text-[#1e3039] hover:bg-[#1e3039] hover:text-white transition duration-200 ease-in-out"
                  >All Books</a
                >
              </li>
              <li>
                <a
                  href="/catalog/author"
                  class="block py-3 px-4 rounded-lg text-[#1e3039] hover:bg-[#1e3039] hover:text-white transition duration-200 ease-in-out"
                  >All Authors</a
                >
              </li>
              <li>
                <a
                  href="catalog/genre"
                  class="block py-3 px-4 rounded-lg text-[#1e3039] hover:bg-[#1e3039] hover:text-white transition duration-200 ease-in-out"
                  >All Genres</a
                >
              </li>
              <li>
                <a
                  href="/catalog/bookinstance"
                  class="block py-3 px-4 rounded-lg text-[#1e3039] hover:bg-[#1e3039] hover:text-white transition duration-200 ease-in-out"
                  >All Book Instances</a
                >
              </li>
            </ul>

            <h2
              class="mt-6 mb-4 text-2xl font-bold text-[#1e3039] border-b-2 border-[#1e3039] pb-2"
            >
              Management
            </h2>
            <ul class="space-y-2">
              <li>
                <a
                  href="/catalog/author/create"
                  class="block py-3 px-4 rounded-lg text-[#1e3039] hover:bg-[#1e3039] hover:text-white transition duration-200 ease-in-out"
                  >Create New Author</a
                >
              </li>
              <li>
                <a
                  href="/catalog/genre/create"
                  class="block py-3 px-4 rounded-lg text-[#1e3039] hover:bg-[#1e3039] hover:text-white transition duration-200 ease-in-out"
                  >Create New Genre</a
                >
              </li>
              <li>
                <a
                  href="/catalog/book/create"
                  class="block py-3 px-4 rounded-lg text-[#1e3039] hover:bg-[#1e3039] hover:text-white transition duration-200 ease-in-out"
                  >Create New Book</a
                >
              </li>
              <li>
                <a
                  href="/catalog/bookinstance/create"
                  class="block py-3 px-4 rounded-lg text-[#1e3039] hover:bg-[#1e3039] hover:text-white transition duration-200 ease-in-out"
                  >Create New Book Instance</a
                >
              </li>
            </ul>

         
        </nav>

        <main class="md:w-3/4">
          <section
            class="container p-8 text-white bg-gray-500 rounded-lg shadow-md"
          >
            <h2 class="mb-4 text-3xl font-bold">Welcome to Your Library</h2>
            <p class="text-lg">
              Manage your books, authors, and more with ease.
            </p>
          </section>

          <section class="mt-8">
            <h2 class="text-2xl font-bold text-[#1e3039] mb-6">
              Library Overview
            </h2>
            <p id="current-date" class="mb-4 text-lg italic text-gray-600"></p>
            <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
              <div class="p-6 text-center bg-white rounded-lg shadow-lg">
                <h3 class="text-xl font-bold text-[#1e3039] mb-2">
                  Total Books
                </h3>
                <p class="text-2xl font-semibold"><%= book_count %></p>
              </div>
              <div class="p-6 text-center bg-white rounded-lg shadow-lg">
                <h3 class="text-xl font-bold text-[#1e3039] mb-2">
                  Total Book Instances
                </h3>
                <p class="text-2xl font-semibold"><%= book_instance_count %></p>
              </div>
              <div class="p-6 text-center bg-white rounded-lg shadow-lg">
                <h3 class="text-xl font-bold text-[#1e3039] mb-2">
                  Available Instances
                </h3>
                <p class="text-2xl font-semibold">
                  <%= book_instance_avaliable_count %>
                </p>
              </div>
              <div class="p-6 text-center bg-white rounded-lg shadow-lg">
                <h3 class="text-xl font-bold text-[#1e3039] mb-2">
                  Total Authors
                </h3>
                <p class="text-2xl font-semibold"><%= author_count %></p>
              </div>
              <div class="p-6 text-center bg-white rounded-lg shadow-lg">
                <h3 class="text-xl font-bold text-[#1e3039] mb-2">
                  Total Genres
                </h3>
                <p class="text-2xl font-semibold"><%= genre_count %></p>
              </div>
            </div>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
